---
title: FLOVID-19
author: Ben Toh
date: '2020-05-22'
slug: flovid-19
categories: []
tags: []
---



<p>This page contains some data visualization of COVID-19 in Florida. Last update: 2021-04-06 14:00:09.</p>
<p>The “Event Date” of COVID-19 Cases is likely the day when a patient initiated the testing process, whereas the “Chart Date” seems to be when the test result confirm the patient is SARS-CoV-2 positive. The “Event Date” chart seems to yield better visualization in terms of understanding the pandemic in Florida than that of “Chart Date”. The downside is that the median time between “Chart Date” and “Event Date” is currently hovering around 4 days – The number of cases per event date is likely to be incomplete for about two weeks.</p>
<p><img src="/projects_files/figure-html/unnamed-chunk-2-1.png" width="864" /></p>
<p><img src="/projects_files/figure-html/unnamed-chunk-3-1.png" width="864" /></p>
<div id="cases-by-age-group" class="section level1">
<h1>Cases by age group</h1>
<p>Inspired by the “heat map” by age concept that’s been floated around the internet, here are the heat maps of reported cases, hospitalized and death of COVID-19 in Florida. First by count:</p>
<p><img src="/projects_files/figure-html/unnamed-chunk-4-1.png" width="960" /></p>
<p>Here’s by proportions:</p>
<p><img src="/projects_files/figure-html/unnamed-chunk-5-1.png" width="960" /></p>
<p>Finally, the bar-line chart that I used initially:</p>
<p><img src="/projects_files/figure-html/unnamed-chunk-6-1.png" width="960" /></p>
</div>
